In [3]:
# скачиваем файл
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1cq9JDz8-zwzoGL6udiT_ogHHRWdnsd1q' -O math_students.csv

"wget" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.
"id" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.

In [12]:
import pandas as pd
import re
data = pd.read_csv('math_students.csv', delimiter=',')
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

1. Какая причина выбора школы была самой частой? В качестве ответа приведите соответствующее значение признака.

In [13]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [57]:
desc = data['reason'].describe()
desc
print(f'Ответ: самой частой причиной является {desc[2]} предпочтение некоторым предметам эту причину укаазли {desc[0]} учеников \n')

Ответ: самой частой причиной является course предпочтение некоторым предметам эту причину укаазли 395 учеников

2. Найдите количество студентов, у родителей которых нет никакого образования.

In [53]:
t = data[(data['Medu'] == 0) & (data['Fedu'] == 0)]
print(f'Ответ: таких студентов нет {len(t)}')

Ответ: таких студентов нет 0

3. Найдите минимальный возраст учащегося школы Mousinho da Silveira.

In [62]:
r_1 = data[data['school'] == 'MS']
r_2 = r_1['age']
print(f'Ответ: {min(r_2)}')

Ответ: 17

4. Найдите количество студентов, имеющих нечетное число пропусков.

In [52]:
r = data[data['absences'] % 2 == 1]
len(r)

41

5. Найдите разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях. В качестве ответа приведите число, округленное до двух значащих цифр после запятой.

In [79]:
rom_1 = data[data['romantic'] == 'yes'].mean()
rom_2 = data[data['romantic'] == 'no'].mean()
fin = round(rom_1['G3'] - rom_2['G3'], 2)
print(f'Ответ: {fin}')

Ответ: -1.26

6. Сколько занятий пропустило большинство студентов с самым частым значением наличия внеклассных активностей?

*Примечание. В данном контексте под "большинством" подразумеваются студенты, имеющее самое частое значение пропусков. То есть в данном задании необходимо:*


* *Определить самое частое значение наличия внеклассных активностей (да или нет).*
* *Для группы студентов, соответствующей этому значению, рассмотреть значения признака «число пропусков».*
* *Для каждого значения числа пропусков посчитать, сколько студентов ему соответствует.*
* *Выбрать значение числа пропусков с наибольшим числом студентов.*

In [110]:
act = data['activities'].describe()
act_1 = data[data['activities'] == act[2]]
abs_1 = act_1['absences'].describe()
fin = act_1[act_1['absences'] == abs_1[6]].count() 
print(f'Ответ: {len(fin)} студента')

Ответ: 33 студента